*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
}
.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 100%;
}
.tabsUI_Practice {
    color: red;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}

/* Tabs */

.container_tabUI {
    display: flex;
    flex-direction: column;
    /* justify-items: end; */
}

.container_tab {
    display: flex;
    justify-content: center;

}
.container_tabUI > .container_tab > .tab {
    display: flex;   
    justify-content: center;
    position: relative;
    color: red;
    font-weight: 900;
    font-size: 20px;
}

.container_tab > .tab i{
    margin-right: 3px;
}

.tab > .tab_item{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding: 5px 40px;
    opacity: 0.5;
}
.tab > .tab_item:first-child{
    margin-left: 0;
}
.tab_item:hover{
    background-color: antiquewhite;
    opacity: 0.7;
}
.line{
    position: absolute;
    width: 0px;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: red;
    border-radius: 15px;
    transition: all 1s ease;
}

/* Content */

.container_tabUI > .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    display: none;
}

.tab > .active{
    opacity: 1;
}

.item{
    margin: auto;
    max-width: 80%;
    min-height: 150px;
}
.item.active{
    display: block;
}

.item > .item_title{
    font-size: 30px;
    font-weight: 800;
    margin: 10px 0;
}

.item > .item_content{
    font-size: 20px;
    line-height: 30px;
}


