*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


.btn-control-toast{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    width: 230px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    margin-top: 40px;
    /* transition: all ease 0.3s; */
}
/* .btn:hover{
    transform: scale(1.5);
} */

.btn:active{
    opacity: 0.7;
}
.btn + .btn {
    margin-left: 20px;
}
.btn-succses{
    background-color: green;
}
.btn-info{
    background-color: cornflowerblue;
}
.btn-error{
    background-color: red;

}
.btn-warning{
    background-color: yellow;
}
/* Toast CSS */
.toast-container{
    position: fixed;
    top: 20px;
  right: 20px;
    z-index: 999;
}
.toast{
    display: flex; 
    align-items: center;
    min-width: 400px;
    max-width: 420px;
    height: 100px;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-left: 4px solid;
    transition: all linear 0.1s;

}
@keyframes fadeInLeft{
    from{
        transform: translateX(calc(100% + 20px));
    }
    to{
    transform: translateX(0);        
    }
}

@keyframes fadeOut {
    to{
        transform: translateX(calc(100% + 20px));
    }
}
.toast + .toast {
    margin-top: 24px;
}
.toast__icon{
    font-size: 28px;
    padding: 0 16px;
}
.toast__body{
    flex-grow: 1;
}
.toast__title{
    font-size: 20px;
    font-weight: 700;
    padding-top: 5px;
}
.toast__message{
    padding-top: 5px;
    font-size: 16px;
    line-height: 1.5;
}
.toast__close{
font-size: 24px;
padding: 0 16px;
}

.toast__success .toast__icon{
    color: green;
}

.toast__info .toast__icon{
    color: cornflowerblue;
}

.toast__warning .toast__icon{
    color: yellow;
}

.toast__error .toast__icon{
    color: red;
}
.toast__success {
    border-color: green;
}
.toast__info {
    border-color: cornflowerblue;
}
.toast__warning {
    border-color: yellow;
}
.toast__error {
    border-color: red;
}